AddDefaultCharset utf-8
php_flag display_errors on
Options -MultiViews -Indexes
ServerSignature Off

<IfModule mod_setenvif.c>
	SetEnv TZ Europe/Moscow
</IfModule>

<ifModule mod_php.c>
  php_value	upload_max_filesize	32M
  php_value	post_max_size		10M
  php_value	default_charset utf-8
  php_value	max_execution_time 200
</ifModule>


#	Bad Request «плохой, неверный запрос»
ErrorDocument 400 /projectMVC/404.html

#	Unauthorized «не авторизован»
ErrorDocument 401 /projectMVC/404.html

#	Forbidden «запрещено»
ErrorDocument 403 /projectMVC/404.html

#	Not found «не найдено»
ErrorDocument 404 /projectMVC/404.html

#	Method Not Allowed «метод не поддерживается»
ErrorDocument 405 /projectMVC/404.html

#	Request Timeout «истекло время ожидания»
ErrorDocument 408 /projectMVC/404.html

#	Request-URI Too Large «запрашиваемый URI слишком длинный»
ErrorDocument 414 /projectMVC/404.html

#	Internal Server Error «внутренняя ошибка сервера»
ErrorDocument 500 /projectMVC/404.html

#	Not Implemented «не реализовано»
ErrorDocument 501 /projectMVC/404.html

#	Bad Gateway «плохой, ошибочный шлюз»
ErrorDocument 502 /projectMVC/404.html

#	Service Unavailable «сервис недоступен»
ErrorDocument 503 /projectMVC/404.html

#	Gateway Timeout «шлюз не отвечает»
ErrorDocument 504 /projectMVC/404.html

RewriteEngine on

RewriteBase /first/projectMVC/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^((error|admin|index).*)$ index.php?url=$1 [NC,L]